## Exploratory Data Analysis

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('datasets.csv')

# Descriptive Analysis

In [24]:
df.head()

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [26]:
df.head(6)

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
5,Criteo click-through,Criteo click-through data,http://labs.criteo.com/2015/03/criteo-releases...,Computer Networks,NaN,NaN

In [25]:
df.tail(6)

,datasetName,about,link,categoryName,cloud,vintage
55,ClueWeb09 FACC,ClueWeb09 FACC,http://lemurproject.org/clueweb09/FACC1/,Natural Language,NaN,2009.0
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [9]:
print(df.shape)

(61, 6)

In [10]:
print(df.dtypes)

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datasetName   61 non-null     object
 1   about         61 non-null     object
 2   link          61 non-null     object
 3   categoryName  61 non-null     object
 4   cloud         24 non-null     object
 5   vintage       31 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.0+ KB
None

In [18]:
df1 = df.drop(['cloud'], axis=1)

In [19]:
print(df1.head())

          datasetName                                            about  \
0  Microbiome Project                American Gut (Microbiome Project)
1               GloBI               Global Biotic Interactions (GloBI)
2      Global Climate                   Global Climate Data Since 1929
3     CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4   Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.

                                                link       categoryName  \
0            https://github.com/biocore/American-Gut            Biology
1  https://github.com/jhpoelen/eol-globi-data/wik...            Biology
2                     http://en.tutiempo.net/climate    Climate/Weather
3  http://www.bigdatanews.com/profiles/blogs/big-...  Computer Networks
4  http://cnets.indiana.edu/groups/nan/webtraffic...  Computer Networks

   vintage
0      NaN
1      NaN
2   1929.0
3   2012.0
4      NaN

In [20]:
df1.head()

,datasetName,about,link,categoryName,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN

TypeError: 'int' object is not callable

In [22]:
print(df1.shape)

(61, 5)

## Statistical Analysis

In [23]:
df1.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

# Renaming the column

In [27]:
df1 = df1.rename(columns={'link': 'link1'})

In [29]:
df1.head()

,datasetName,about,link1,categoryName,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN

In [30]:
df1.shape

(61, 5)

### Dropping the duplicate rows

In [31]:
duplicate_rows_df = df1[df1.duplicated()]
print("Number of duplicate rows: ", duplicate_rows_df.shape)

Number of duplicate rows:  (0, 5)

### Missing values

In [34]:
print(df1.isnull().sum())

datasetName      0
about            0
link1            0
categoryName     0
vintage         30
dtype: int64

In [39]:
df1 = df1.dropna()

In [40]:
df1.shape

(31, 5)

In [41]:
print(df.isnull().sum())

datasetName      0
about            0
link             0
categoryName     0
cloud           37
vintage         30
dtype: int64

In [42]:
df = df.dropna()

In [43]:
df.shape

(2, 6)

In [44]:
df

,datasetName,about,link,categoryName,cloud,vintage
32,FBI Hate Crime 2013,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0

In [45]:
df2 = df.drop(['datasetName'], axis=1)

In [46]:
df2.head()

,about,link,categoryName,cloud,vintage
32,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 32 to 41
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   about         2 non-null      object
 1   link          2 non-null      object
 2   categoryName  2 non-null      object
 3   cloud         2 non-null      object
 4   vintage       2 non-null      float64
dtypes: float64(1), object(4)
memory usage: 96.0+ bytes